*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'REM', sans-serif;
font-family: 'Ubuntu', sans-serif;
overflow-x: hidden;
background-color: transparent;
}
.container{
    width: 92%;
    margin: auto;
}
/* common css */
.btn__ {
    width: 113px;
    background-color: transparent;
    border: 2px solid;
    color: rgb(250, 249, 250);
    border-radius: 1.6em;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

/* ================================================================= */
/* ===================HEADER PART================================== */
/* ================================================================ */
header{
    width: 100vw;
    height: 11vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
}
header .container {
    height: 11vh;
    display: flex;
    align-items: center;
}
header .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo_container .logo_link span{
    color: white;
    font-size: 2.3rem;
    font-weight: 500;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
header .nav_container ul{
 display: flex;
}
header .nav_container ul li{
    margin-left: 2.9rem;
   
}
header .nav_container ul li a{
    color: #fffefe;
    font-weight: 500;
    font-size: 1.8rem;
}
header .nav_container ul li:first-child{
    margin-left: 0;
}
header .explore_btn_container .explore_btn{
    border-color: purple;
}

/* banner css */
.banner__{
    background: linear-gradient(rgb(0 0 0 / 37%), rgb(0 0 0 / 58%)), url(./img/bg4.jpg);
    width: 100%;
    height: 103vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-size: 100%;
    background-position: center top;
    margin-top: -12rem;
}
.banner__ .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__ h1{
    font-weight: bold;
    font-size: 9rem;
    margin-bottom: 2rem;
}
.banner__ p{
    font-size: 1.8rem;
    width: 50%;
    line-height: 1.3;
}

.banner__ .banner_btn{
    margin-top: 2.6rem;
}
.banner__ .earth_img{
    width: 637px;
    position: absolute;
    bottom: -54rem;
    right: -2rem;
    max-width: 100%;
}